.App{
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.search{
  padding: 10px;
}

table{
  margin-top: 50px;
  border-spacing: 15px;
  color:gray;
  /* align-items: center; */
  /* justify-content: center; */
}

th{
  width: 250px;
}

tr{
  margin-bottom: 20px;
}

td{
  width: 250px;
  text-align: center;
}
